@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

$primary-font: "Roboto", 'Helvetica Neue', Helvetica;

$dark-gray: #555555;
$light-gray: #A3A3A3;
$green: #26ca28;
$red: #ca2626;

$off-white: #EEEEEE;

$accent-color: $green;
$dark-font-color: $dark-gray;

$box-color: #CCCCCC;

$smallButtonWidth: 100px;
$largeButtonWidth: 230px;
$buttonHeight: 17px;

$selectBoxWidth: 200px;
$selectBoxHeight: 35px;

$checkboxSize: 25px;

$circle-color: $accent-color;
$circle-hover-color: #2F4172;
$circle-selected-color: #8E2323;

$border-color: $dark-gray;
$land-color: $light-gray;
